[{"urbit_ship": "zod",
  "discord_group": "My Discord Group",
  "channels": [
      { "discord_channel_name": "general",
        "discord_channel_id": 123456789012345678,
        "urbit_channel": "general-1234" }
  ]}]
